<div class="card">
      <div class="card-body">
        <h5 class="card-title text-muted text-uppercase text-center">{{heading}}</h5>
        <h6 class="card-price text-center">{{title}}<span class="period">{{subtitle}}</span></h6>
        <hr>
        <ul class="fa-ul">
          <li><fa-icon [icon]="['fas', 'check']" [fixedWidth]="true"></fa-icon>
          {{item1}}</li>
          <li><fa-icon [icon]="['fas', 'check']" [fixedWidth]="true"></fa-icon>{{item2}}</li>
          <li><fa-icon [icon]="['fas', 'check']" [fixedWidth]="true"></fa-icon>{{item3}}</li>
          <li><fa-icon [icon]="['fas', 'check']" [fixedWidth]="true"></fa-icon>{{item4}}</li>
          <li class="text-muted"><fa-icon [icon]="['fas', 'times']" [fixedWidth]="true"></fa-icon>{{item5}}</li>
          <li class="text-muted"><fa-icon [icon]="['fas', 'times']" [fixedWidth]="true"></fa-icon>{{item6}}</li>
          <li class="text-muted"><fa-icon [icon]="['fas', 'times']" [fixedWidth]="true"></fa-icon>{{item7}}</li>
          <li class="text-muted"><fa-icon [icon]="['fas', 'times']" [fixedWidth]="true"></fa-icon>{{item8}}</li>
        </ul>
        <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
      </div>
    </div>